root = true

# All files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# C# files
[*.cs]
indent_size = 4

# Project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Config files
[*.{json,xml,yml,yaml}]
indent_size = 2

# XAML files
[*.xaml]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

###############################
# Specific Warning Controls   #
###############################

[*.cs]

# CS1998: Async method lacks 'await' operators
dotnet_diagnostic.CS1998.severity = error

# CS8602: Dereference of a possibly null reference
dotnet_diagnostic.CS8602.severity = error

# CS0168: Variable declared but never used
dotnet_diagnostic.CS0168.severity = error